<%= form_for(@movie_item) do |f| %>
  <% if @movie_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_item.errors.count, "error") %> prohibited this movie_item from being saved:</h2>

      <ul>
      <% @movie_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-success custom-btn access" %>
  </div>
<% end %>
